<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- icon -->
  <link rel="icon" href="style/favicon.ico">

  <!-- external style sheet -->
  <link href='../public/style/style.css' rel='stylesheet'>

  <!-- Icons -->
  <script src="https://kit.fontawesome.com/a5bb4f9226.js" crossorigin="anonymous"></script>
  <title>Create Student Profile</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<script type="module">
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.11.0/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.11.0/firebase-analytics.js";
  import { getAuth, onAuthStateChanged } from "https://www.gstatic.com/firebasejs/9.11.0/firebase-auth.js";
  import { createUserWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/9.11.0/firebase-auth.js";
  import { getDatabase, ref, set, child, push, update } from "https://www.gstatic.com/firebasejs/9.11.0/firebase-database.js";

  // Initialize Firebase
  const firebaseConfig = {
    apiKey: "AIzaSyDc714DoZoHSdClJoOi3K95Ho-4nPH4fZY",
    authDomain: "tutizen-c8f64.firebaseapp.com",
    databaseURL: "https://tutizen-c8f64-default-rtdb.asia-southeast1.firebasedatabase.app",
    projectId: "tutizen-c8f64",
    storageBucket: "tutizen-c8f64.appspot.com",
    messagingSenderId: "210404368356",
    appId: "1:210404368356:web:c8d68acf2541de5ab9b1f1"
  };
  const appp = initializeApp(firebaseConfig);
  // Initialize Firebase Authentication and get a reference to the service
  const analytics = getAnalytics(appp);
  const auth = getAuth();
  const database = getDatabase();
  const user = auth.currentUser;

  //reference to database

  const signup = document.getElementById("create");

  const create = () => {
    const email = document.getElementById("email").value;
    var password = document.getElementById("password").value;
    var name = document.getElementById("name").value;
    var phoneno = document.getElementById("phone").value;
    var station = document.getElementById("station").value;
    var line = document.getElementById("line").value;
    var education = document.getElementById("level").value;


    console.log(email)
    console.log(education)
    console.log(station)
    console.log(line)

    var count = 0
    var level = ""


    if (name == "") {
      document.getElementById("namemessage").innerHTML = "**Fill your name please!";
      return false;
    }

    if (email == "") {
      document.getElementById("emailmessage").innerHTML = "**Fill your email please!";
      return false;
    }

    if (phoneno == "") {
      document.getElementById("mobilemessage").innerHTML = "**Fill your mobile number please!";
      return false;
    }

    if (isNaN(phoneno)) {
      document.getElementById("mobilemessage").innerHTML = "**please type number only!";
      return false;
    }

    if (education == "Select") {
      document.getElementById("educationmessage").innerHTML = "**Fill the password please!";
      return false;
    }

    if (password == "") {
      document.getElementById("message").innerHTML = "**Fill the password please!";
      return false;
    }

    //minimum password length validation  
    if (password.length < 8) {
      document.getElementById("message").innerHTML = "**Password length must be atleast 8 characters";
      return false;
    }

    //maximum length of password validation  
    if (password.length > 15) {
      document.getElementById("message").innerHTML = "**Password length must not exceed 15 characters";
      return false;
    } else {
      createUserWithEmailAndPassword(auth, email, password)

        .then((userCredential) => {
          // Signed in 
          // console.log(userCredential)
          const user = userCredential.user;

          console.log(user)
          console.log(station)
          const db = getDatabase();
          var userid_change = user.uid
          set(ref(db, 'users/' + userid_change), {
            info: {fullname: name,
            email: email,
            mobile: phoneno,
            mrtstation: station,
            line: line,
            level: education},
            reviews: {"incomplete":"", "complete":""},
            payments: {"incomplete":""},
          });
          var userinfo = { "uid": userid_change, "name": name, "location": station, "level": education, "line": line }
          localStorage.setItem("userinfo", JSON.stringify(userinfo))
          setTimeout(() => {
            if (user) {

              window.location.href = 'Homepage.html'; //After successful login, user will be redirected to home.html
            }
          }, 100)

        })
        .catch((error) => {
          const errorCode = error.code;
          const errorMessage = error.message;
          alert("This email has been registered")
          // ..
        });



    }
  }

  signup.addEventListener('click', create);
  const getOut = document.getElementById("cancel")
    const goHome =()=>{
      window.location = 'index.html'
    }
    getOut.addEventListener('click', goHome)
</script>
<style>
      .bg_img {
      height: 120px;
      width: 100%;
      padding: 10px;
    }
    .has-bg{
        background-image: url("img/Background.png");
      }
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border-radius: 30px;
      padding: 30px;
    }
    .form-control, .form-select{
      border-radius: 30px;
      padding: 5px 15px;
      margin-left: 16px;
    }
    hr{
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .btn{
      border-radius: 20px;
      padding: 5px 15px;
      min-width: 100px;
      text-align: center;
      margin: 0px;
    }
    .btn:hover {
        background-color: #fa7979;
        border-color: #fa7979;
      }
    .btn:active {
      background-color: #fa7979;
      border-color: #fa7979;
    }
    p{
      margin:0px;
    }
    .bg_img {
    height:120px;
    width:100%;
    padding:10px ;
  }

</style>
<body style="background-color: #Ffffff;" class = 'has-bg'>
  <div class = "row justify-content-center">
    <div class = "col">
      <img src="img/background_img.png" class="bg_img" alt="">
    </div>
  </div>
  <div class="container d-flex justify-content-center py-5" id="app">
    <div class="col-lg-8">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h1 style="text-align: center;">Create Student Account</h1>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0"><span style="color:red">* </span>Full Name</p><span id="namemessage" style="color:red"> </span>
            </div>
            <div class="col-sm-9">
              <input id="name" type="text" class="form-control" placeholder="Full name (as per NRIC/Passport)">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0"><span style="color:red">* </span>Email</p><span id="emailmessage" style="color:red"> </span>
            </div>
            <div class="col-sm-9">
              <input id="email" type="text" class="form-control" placeholder="Email">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0"><span style="color:red">* </span>Password</p><span id="message" style="color:red"> </span>
            </div>
            <div class="col-sm-9">
              <input type="password" id="password" class="form-control" placeholder="Password should have more than 8 characters">
            </div>
          </div>

          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0"><span style="color:red">* </span>Mobile</p><span id="mobilemessage" style="color:red"> </span>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="phone" placeholder="Phone number">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Closest MRT Line</p>
            </div>
            <div class="col-sm-9">
              <select class="form-select" v-model="area" id="line">
                <option disabled selected hidden>Select</option>
                <option v-for="area in areas">{{area}}</option>
              </select>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Closest MRT Station</p>
            </div>
            <div class="col-sm-9">
              <select class="form-select" id="station">
                <option v-for="station in northsouth" v-if="area=='North South'">{{station}}</option>
                <option v-for="station in northeast" v-if="area=='North East'">{{station}}</option>
                <option v-for="station in circle" v-if="area=='Circle'">{{station}}</option>
                <option v-for="station in downtown" v-if="area=='Downtown'">{{station}}</option>
                <option v-for="station in eastwest" v-if="area=='East West'">{{station}}</option>
                <option v-for="station in thomsoneast" v-if="area=='Thomson Eastcoast'">{{station}}</option>
              </select>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Education Level</p><span id="educationmessage" style="color:red"> </span>
            </div>
            <div class="col-sm-9">
              <!-- <input type="" class="form-control" > -->
              <div class="dropdown">
                <select class="form-select" aria-label="Default select example" id="level">
                  <option disabled selected hidden>Select</option>
                  <option v-for="level in primary">{{level}}</option>
                </select>
              </div>
            </div>
          </div>
          <hr>
          <button type="submit" class="btn btn-outline-dark mx-1" id="create">Sign Up</button>
          <button type="submit" class="btn btn-outline-dark mx-1" id="cancel">Cancel</button>



        </div>
      </div>
    </div>
  </div>

  </div>
  <!-- VueJS -->
  <script src="https://unpkg.com/vue@next"></script>
  <script>
    //create vue instance
    const app = Vue.createApp(
      {
        //options object
        data() {
          return {
            areas: ['North South', 'East West', 'North East', 'Circle', 'Downtown', 'Thomson Eastcoast'],
            northsouth: ['Jurong East', 'Bukit Batok', 'Bukit Gombak', 'Choa Chu Kang',
              'Yew Tee', 'Kranji', 'Marsiling', 'Woodlands', 'Admiralty', 'Sembawang',
              'Canberra', 'Yishun', 'Khatib', 'Yio Chu Kang', 'Ang Mo Kio', 'Bishan',
              'Braddell', 'Toa Payoh', 'Novena', 'Newton', 'Orchard', 'Somerset', 'Dhouby Ghaut',
              'City Hall', 'Raffles Place', 'Marina Bay', 'Marina South Pier'],
            eastwest: ["Pasir Ris", "Tampines", "Simei", "Tanah Merah", "Bedok", "Kembangan", "Eunos", "Paya Lebar",
              "Aljunied,Kallang", "Lavender", "Bugis", "Tanjong Pagar", "Tiong Bahru", "Redhill", "Queenstown",
              "Commonwealth", "Buona Vista", "Dover", "Clementi", "Chinese Garden", "Lakeside", "Boon Lay",
              "Pioneer", "Joo Koon", "Gul Circle", "Tuas Crescent"],
            northeast: ["HarbourFront", "Outram Park", "Chinatown", "Clarke Quay", "Farrer Park",
              "Boon Keng", "Potong Pasir", "Woodleigh", "Serangoon", "Kovan", "Hougang", "Buangkok", "Sengkang", "Punggol"],
            circle: ["Bras Basah", "Esplanade", "Nicoll Highway", "Stadium", "Mountbatten", "Dakota", "Tai Seng", "Bartley", "Lorong Chuan",
              "Marymount", "Caldecott", "Farrer Road", "Holland Village", "one-north", "Kent Ridge", "Haw Par Villa", "Pasir Panjang",
              "Labrador Park", "Telok Blangah"],
            downtown: ["Bukit Panjang", "Cashew", "Hillview", "Beauty World", "King Albert Park", "Sixth Avenue", "Tan Kah Kee",
              "Botanic Gardens", "Stevens", "Newton", "Little India", "Rochor", "Bugis", "Downtown", "Telok Ayer", "Fort Canning",
              "Bencoolen", "Jalan Besar", "Bendemeer", "Geylang Bahru", "Mattar", "MacPherson", "Ubi", "Kaki Bukit", "Bedok North",
              "Bedok Reservoir", "Tampines West", "Tampines", "Tampines East", "Upper Changi", "Expo"],
            thomsoneast: ["Woodlands North", "Woodlands South"],
            primary: ["Primary 1", "Primary 2", "Primary 3", "Primary 4", "Primary 5", "Primary 6",
              "Secondary 1", "Secondary 2", "Secondary 3", "Secondary 4", "JC1", "JC2"],
            secondary: ["Secondary 1", "Secondary 2", "Secondary 3", "Secondary 4"],
            junior: ["JC1", "JC2"],
            area: ""

          }
        },
        methods: {
          getFullName() {
            console.log('in method')
            let fullname = this.firstName + this.lastName
            return fullname
          }
        },
      }
    )

    const mount = app.mount("#app")
  </script>

</body>

</html>